
.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #5d5d5f;
    border-radius:5px;
    height: 300px;
}

h1 {
    font-size: 36px;
    color: #dfdcdc;
    margin-bottom: 20px;
    padding-top: 20px;
}

p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

#message-el {
    color: rgb(221, 186, 186);
    font-style: italic;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#player-el {
    font-weight: bold;
    margin: 1rem;

}

#cards-el {
    font-style: italic;
}

#sum-el {
    font-style: italic;
}
